
#eight {
    opacity: 1;
    animation: paused; //running
    z-index: 11;
  }

  .contactAndSocialMedia {
      color:goldenrod;
  }

  .center article ul li a{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: solid;
  }


/* animation-play-state: running;
animation-play-state: paused;
*/