@import "../typo/typo.scss";
@import "../reset/reset.scss";
@import "../variables/variables.scss";


     .center {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        position: relative;
        top: 0vh;
        img {
            width: 10vw;
            height: 20vh;
            object-fit: cover;
            margin-top: 10px;
        }
        nav {
            font-size: 1.5rem;
            /* font-variant:small-caps; */
            font-family: $primary-font-bold;
            text-align: left;
            padding-right: 10px;
            width: 100%;
            ul li{
                list-style-type: none;
                margin-bottom: 20px;
                font-family: $primary-font;
                font-weight: lighter;
                width: 90%;
                a {
                    color: black;
                    p {
                        display: inline;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
            ul li a:hover {
                opacity: 1;
                z-index:10;
                color: white; 
            }
        }
    }
    .sidenav {
        
        ul li {
            list-style-type: none;
            margin-bottom: 20px;
            font-size: 2.2rem;
            font-family: $primary-font-bold;
            a {
                text-decoration: none;
                color: black;
                font-size: 2.2rem;
            }
            a:hover {
                transform: scale(2);
            }
        }
    }

    @media (max-width: $desktop){
        .center nav {
          font-size: 1.2rem;
        }
        .sidenav {
            ul li {
                list-style-type: none;
                margin-bottom: 10px;
                
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 2rem;
                }
                a:hover {
                    transform: scale(2);
                    color: white;
                }
            }
            }
    }

    @media (max-width: $tablet){
        .center nav {
          font-size: 1.2rem;
          ul li {
            margin-bottom: 10px;
            a {
                font-size: 0.8rem;
            }
        }
        }   
        
        .sidenav {
            ul li {
                list-style-type: none;
                height: 30px;
                margin: 0px;
                padding: 0px;
                font-size: 2.2rem;
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 1rem;
                }
                a:hover {
                    transform: scale(2);
                    
                }
            }
        }
    }

/* animation-play-state: running;
animation-play-state: paused;
*/