
.fingerlines #third {
    opacity: 1;
    animation: none;
    z-index: 11;
  }

  #professionalCareer {
      color:steelblue;
  }



/* animation-play-state: running;
animation-play-state: paused;
*/