
.fingerlines #eigth {
    opacity: 1;
    animation: paused; //running
    z-index: 11;
  }

  #contactAndSocialMedia {
      color:goldenrod;
  }



/* animation-play-state: running;
animation-play-state: paused;
*/