
.eigth {
    opacity: 1;
    animation: paused; //running
    z-index: 11;
  }



  #contactAndSocialMedia {
    color: rgb(250, 200, 80);      
  }

  #centerSocialMedia article ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    cursor:  url(../Images/finger-print-outline.svg);
    li {
      margin-left: 20px;
      list-style-type: none;
      font-size: 1.5rem;
      a, p {
        display: inline;
        color: black;
        align-items:center;
      }
    }
  }
  .center article {
    background-color: rgba(218, 165, 32, 0.2);
  }

/* animation-play-state: running;
animation-play-state: paused;
*/