@import "../typo/typo.scss";
@import "../reset/reset.scss";
@import "../variables/variables.scss";

body {
    font-family: $primary-font;
    background-image: url(../Images/IMG_1839.PNG);
    background-repeat:no-repeat;
    background-size: 100vw;
    background-color: rgb(166, 206, 225);
    overflow: hidden;
}


header {
    width: 100%;
    height: 50px;
    position:relative;
    /* border: solid; */
    img {
        position: relative;
        left: 88%;
        top: 100px;
        width: 8vw;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 50%;
        object-position: 0 0px;
    }
}

main {
    width: 90%;
    position: relative;
    margin: 0 auto;
    top: 50px;   
}

.pagehead {

    h1 {
        font-size: 3rem;
        text-align: left;
        margin-left: 0vw;
        width: 60%;
        position: relative;
        left: 40%;
        line-height: 4rem;
    }
    p {
        text-align: left;
        font-size: 1.5rem;
        width: 60%;
        position: relative;
        left: 40%;
    }
}

.content {
    position: relative;
    top: 15vh;
    height: 100%;
    display: flex;
    flex: row nowrap;        
}

.fingerlines {
    position: relative;
    top: 0vh; left: 5vw;
    a img {
    visibility: visible;
    width: 25vw;
    position:absolute;
    top: 0vh; left: 0vw;
    }
    #basis {
        opacity: 1;
        z-index: 1; 
    }
    #first {
        opacity: 0;
        animation: fadeinandout 2.0s infinite ease alternate-reverse;
        z-index: 11;
    }
    
    #second {
        opacity: 0;
        animation: fadeinandout 2s infinite ease alternate-reverse;
        z-index:9;
    }
    #third {
        opacity: 0;
        animation: fadeinandout 2.5s infinite ease alternate-reverse;
        z-index:9;
    }
    #fourth {
        opacity: 0;
        animation: fadeinandout 1.5s infinite ease alternate-reverse;
        z-index:9;
    }
    #fifth {
        opacity: 0;
        animation: fadeinandout 1.3s infinite ease alternate-reverse;
        z-index:9;
    }
    #sixth {
        opacity: 0;
        animation: fadeinandout 3s infinite ease alternate-reverse;
        z-index:9;
    }
    #seventh {
        opacity: 0;
        animation: fadeinandout 1s infinite ease alternate-reverse;
        z-index:9;
    }
    #eigth {
        opacity: 0;
        animation: fadeinandout 2.1s infinite ease alternate-reverse;
        z-index:9;
    }
    #ninth {
        opacity: 0;
        animation: fadeinandout 2.7s infinite ease alternate-reverse;
        z-index:9;
    }
    @keyframes fadeinandout {
        0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }
}
.center {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 50%;
    position: relative;
    top: 0vh;
    left: 40%;
    article {
        position: relative;
        margin-bottom: 100px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        width: 90%;
        max-height: 55vh;
       /*  max-height: 30%; */
        overflow-y: scroll;
        h2 {
            padding: 20px;
        }
        p {
            font-size: 1rem;
            padding: 20px;
            width: 100%;
        }
    }
}
.sidenav {
    width: 8%;
    position: relative;
    top: 0vh;
    left: 42%;
    height:  55vh;
    ul li{
        list-style-type: none;
        margin-bottom: 20px;
        font-size: 1rem;
        font-family: $primary-font-bold;
        /* font-variant:small-caps; */
        a {
            text-decoration: none;
            color: black;
        }
    }
    ul>li>a:hover {
        opacity: 1;
        z-index:10;
        color: white; 
    }
}




@media (max-width: $desktop){
    .content {
        top: 15vh;
    }

    .pagehead {
        margin-top: -50px;
        margin-left: 30px;
        width:  85%;
    h1 {
      width: 100%;
      left: 0vw;
      font-size: 2rem;
      line-height: 2rem;
    }
    p {
      width: 100%;
      left: 0vw;
      font-size: 1rem;
    }

}
    .fingerlines {
        position: relative;
        top: 0vh; left: 5vw;
        a img {
        visibility: visible;
        width: 20vw;
        position:absolute;
        top: 0vh; left: 0vw;
        }
    }
    .sidenav {
        width: 5%;
        position: relative;
        top: 0vh;
        left: 42%;
        ul li{
            font-size: 0.65rem;
        }
        ul>li>a:hover {
            opacity: 1;
            z-index:10;
            color: white; 
        }
    }
    .center {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        width: 50%;
        position: relative;
        top: 0vh;
        left: 40%;
        article {
            position: relative;
            margin-bottom: 100px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            width: 90%;
            max-height: 40vh;
           /*  max-height: 30%; */
            overflow-y: scroll;
            h2 {
                padding: 20px;
                font-size: 1.5rem;;
            }
            p {
                font-size: 0.75rem;
                padding: 20px;
                width: 100%;
            }
        }
    }
}