@import "../typo/typo.scss";
@import "../reset/reset.scss";
@import "../variables/variables.scss";

body {
    font-family: $primary-font;
     background-image: url(../../Images/IMG_1839.PNG);
    background-repeat:no-repeat;
    background-size: 100%;
    background-color: rgb(166, 206, 225);
   
    
}

#fingerlines {
    position:absolute;
    top: 10vh; left: 10vw;
    a img {
    visibility: visible;
    width: 30vw;
    position:absolute;
    top: 0vh; left: 0vw;
}
}