
  .sixth {
    opacity: 1;
    animation: paused; //running
    z-index: 11;
  }

  #myFuture {
      color:darkgreen;
  }

  
  .center article {
    /* background-color: rgba(60, 85, 185, 0.2); */
    h2 {
      background: linear-gradient(rgba(0, 100, 0, 0.3), rgba(0, 100, 0, 0.1));
      }
      p {
        background: rgba(0, 100, 0, 0.1);
      }
  }

/* animation-play-state: running;
animation-play-state: paused;
*/