body {
    /* background-image: url(../../Images/1200px-Fingerprint_picture.png);
    backdrop-filter: saturate(80%);
    background-repeat:no-repeat;
    background-size: 30vw; */
    background-color: rgb(166, 206, 225);
    /* background-position: 5vw 5vh;  */
    
}



#basis {
    opacity: 1;
    z-index: 1; 
}


#first {
    opacity: 1;
    animation: none;
    z-index: 11;
}



header {
    width: 50vw;
    position:relative;
    left: 50vw;    
    
}


main {
    width: 40%;
    position: relative;
    left: 45%;
    top: 10vh;
    
    h1 {
        font-size: 4rem;
        text-align: left;
        margin-left: 0vw;
        width: 100%;
    }
    p {
        text-align: left;
        font-size: 2rem;
        width: 50vw;
    }
    figure {
        position: fixed;
        width: 7%;
        height:  auto;
        top: 12vh;
        right: 5vw;        
        img {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: 0px 0px;
            border-radius: 50%;
        }
    }
    #sidenav {
        position: fixed;
        width: 120px;
        right: calc(5vw);
        top: 30vh;
        font-size: 1rem;
        font-weight: 900;
        font-variant:small-caps;
        text-align: left;
        padding-right: 0px;
        ul li{
            list-style-type: none;
            margin-bottom: 20px;
            a {
                text-decoration: none;
                color: black;
            }
        }
    
    }
}

nav>ul>li>a:hover {
    opacity: 1;
    z-index:10;
    color: white; 
}

#content {
    margin-top: 120px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 80%;
    height: auto;
    max-height: 60vh;
    overflow-y: scroll;
    p{
    font-size: 1rem;
    padding: 20px;
    width: 100%;
}
}



/* animation-play-state: running;
animation-play-state: paused;
*/