body {
    /* background-image: url(../../Images/1200px-Fingerprint_picture.png);
    backdrop-filter: saturate(80%);
    background-repeat:no-repeat;
    background-size: 30vw; */
    background-color: rgb(166, 206, 225);
    /* background-position: 5vw 5vh;  */
    
}

#fingerlines {
    position:absolute;
    top: 5vh; left: 5vw;
    a img {
    visibility: visible;
    width: 30vw;
    position:absolute;
    top: 0vh; left: 0vw;
}
}

#basis {
    opacity: 1;
    z-index: 1; 
}


#first {
    opacity: 0;
    animation: none;
    z-index: 11;
}



header {
    width: 50vw;
    position:relative;
    left: 50vw;
    
    
}


main {
    width: 50%;
    position: relative;
    left: 50%;
    top: 10vh;
    
    
    h1 {
        font-size: 4rem;
        text-align: left;
        margin-left: 0vw;
        width: 100%;
    }
    p {
        text-align: left;
        font-size: 2rem;
        width: 50vw;
    }
    figure {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        position: absolute;
        margin-top: 60px;
        
        img {
            width: 30%;
            object-fit: cover;
        }
        nav {
            font-size: 1.3rem;
            font-variant:small-caps;
            text-align: left;
            padding-right: 30px;
            ul li{
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

nav>ul>li>a:first-child:hover {
    opacity: 1;
    z-index:10;
    color: white; 
}


/* animation-play-state: running;
animation-play-state: paused;
*/